%svg.exclusive-planning-plan{"enable-background" => "new 0 0 487.6 488.2", viewbox: "0 0 487.6 488.2", xmlns: "http://www.w3.org/2000/svg"}
  %defs
    :css
      .cls-55 {
        fill: red;
        fill-rule: evenodd;
      }
  %g.cls-1
    %path.cls-55.hover-path{d: "m30.2 239.5h113.4v73.6l19.3-10.6s3.4 2.8 3.9 10.3h14.5v-.7h92.8v53.1h-17.4v14.9h2.9v10.5h27.2v33.6h-3.2v64h-106.8v-38.7h-90.9v30.6h-55.7v-129.2h-30.2v-78.6h30.3z", data:{class: '.f-3-r-1'}}
    %path.cls-55.hover-path{d: "m30 239.3h113.6v-52.8-9.2s0-.1-.1-.2-.1-.1-.3-.2c-.1 0-.2 0-.2 0h-.1v-4.3s2.9 0 5.2-.8c2.5-.7 4-1.7 4-1.7l.2-.1s.1-.1.1-.3c-.1-.2-9.5-16.5-9.5-16.5v-6.6h14.2v-4.3h5.5v2.1h68.8v-5.3h10v7.4h2.4v-116.4h-32.1v-30.1h-69.2v30.1h-112l-.3 112.2h-30.2v69.3l30-.1z", data:{class: '.f-3-r-2'}}
    %path.cls-55.hover-path{d: "m243.8 146.7v-116.4h28.5v-30.1h78.5v30.1h121.3v55.9h-23.1v62.8 29.5h38.6v11.9l-.6.5v93.2h-63.2v2.9h-30.7v-27h-13.3v-3h-15v17.5h-54l-.2.2h-3v-97.5h-51.6v-5.8l-9.4-16.3-.1-.1s0-.2.1-.3c0 0 3.5-2.6 9.4-2.6 0-3.3 0-5.4 0-5.4z", data:{class: '.f-3-r-3'}}
