.loader{class: "#{'hidden' if cookies[:show_loader] == 'false'}"}
  %h2
    %span.word
      %span.char1
        %span.char1 M
      %span.char2
        %span.char1 A
      %span.char3
        %span.char1 N
      %span.char4
        %span.char1 H
      %span.char5
        %span.char1 A
      %span.char6
        %span.char1 T
      %span.char7
        %span.char1 T
      %span.char8
        %span.char1 A
      %span.char9
        %span.char1 N
