%svg.smart-home-plan{:height => "465", :viewbox => "0 0 958 465", :width => "958", :xmlns => "http://www.w3.org/2000/svg"}
  %metadata
    !!! XML
    %xmpmeta{"x:xmptk" => "Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ", "xmlns:x" => "adobe:ns:meta/"}
      %rdf{"xmlns:rdf" => "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
        %description{"rdf:about" => ""}
    !!! XML
  %defs
    :css
      .cls-1 { opacity: 0; }

      .cls-2 {
        fill: green;
        fill-rule: evenodd;
      }
  %g.cls-1
    %path.cls-2.hover-path{:d => "M4980,5680v34h-42v-26h-61l0.06,42.47h-7.08v150.51h204.86v-20.39L5092,5861V5680", :transform => "translate(-4728 -5673)", data:{class: '.f-1-r-7'}}
    %path.cls-2.hover-path{:d => "M4870,5724H4732v64h35v237h-39v75h148V5924h74v-43h-80V5724", :transform => "translate(-4728 -5673)", data:{class: '.f-1-r-1'}}
    %path.cls-2.hover-path{:d => "M4876,5923.99V6100h-20v30h94v-26h33v34h84l1-46h23V5932H4950v-8", :transform => "translate(-4728 -5673)", data:{class: '.f-1-r-2'}}
    %path.cls-2.hover-path{:d => "M5090.99,5931.99L5091,6136h191v2h100v-39h0V5932", :transform => "translate(-4728 -5673)", data:{class: '.f-1-r-3'}}
    %path.cls-2.hover-path{:d => "M5471,5924v8h-89v151.94l32,0.06v45h59v-32h213v-68h-36V5924", :transform => "translate(-4728 -5673)",  data:{class: '.f-1-r-4'}}
    %path.cls-2.hover-path{:d => "M5450,5715v167h21v42h178V5789h36v-74", :transform => "translate(-4728 -5673)", data:{class: '.f-1-r-5'}}
    %path.cls-2.hover-path{:d => "M5340,5673h-93v48h-22v161l224.99-.02L5450,5715h-10v-27h-60v26h-40", :transform => "translate(-4728 -5673)", data:{class: '.f-1-r-6'}}
