%svg.standart-planning-plan{:height => "362", :viewbox => "0 0 654 362", :width => "654", :xmlns => "http://www.w3.org/2000/svg"}
  %metadata
    !!! XML
    %xmpmeta{"x:xmptk" => "Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01", "xmlns:x" => "adobe:ns:meta/"}
      %rdf{"xmlns:rdf" => "http://www.w3.org/1999/02/22-rdf-syntax-ns#"}
        %description{"rdf:about" => ""}
    !!! XML
  %defs
    :css
      .cls-3 {
        fill: red;
        fill-rule: evenodd;
      }
  %g.cls-1
    %path.hover-path.cls-3{:d => "M326.362,1902.96v18.18H287.981v-37.36H240.509v19.18H139V1771.19h99.994v-28.28H387.47v160.05H326.362Z", :transform => "translate(-139 -1700)", data:{class: '.f-2-r-1'}}
    %path.hover-path.cls-3{:d => "M393.025,1947.9v80.78H370.3V2062H139V1902.96H240.509v-19.18h47.472v37.36h38.381v-18.18H387.47v12.62h30.3v32.32H393.025Z", :transform => "translate(-139 -1700)", data:{class: '.f-2-r-2'}}
    %path.hover-path.cls-3{:d => "M580.892,2062H370.3v-33.32h22.726V1947.9h24.746v-32.32h62.622v1.01h100.5V2062Z", :transform => "translate(-139 -1700)", data:{class: '.f-2-r-3'}}
    %path.hover-path.cls-3{:d => "M672.3,2034.23V2062H580.892V1916.59H571.8v-34.33h9.09v-4.54h50.5V1771.19H793v263.04H672.3Z", :transform => "translate(-139 -1700)", data:{class: '.f-2-r-4'}}
    %path.hover-path.cls-3{:d => "M580.892,1877.72v4.54H571.8v4.55H474.838V1700h99.994v42.91h51.007v28.28h5.555v106.53h-50.5Z", :transform => "translate(-139 -1700)", data:{class: '.f-2-r-5'}}
